body 
{
	color: black;
	background-color: white;
	font-size: 14pt;
	font-family: Arial;
	text-align:center;
	width: 100%; 
	margin: 0; 
float: none;
}

a { text-decoration:none; }
a:link, a:visited { color:black; }
a:hover, a:active { text-decoration:none; color:black; }

img {display:none}
ul {text-align:left; margin-left: 60px; margin-top: 10px;
	margin-bottom: 0px; }
h1{text-align:center; background: white}
h2{text-align:left; margin: 2%; text-decoration: underline; margin-bottom: 0px; margin-top: 0px;}
h4{text-align:left; margin-bottom: 0px; margin-top: 0px; margin-left:55px;}
div { background-color:white; text-align:center; margin:0 auto; }

p {text-align:left; margin-left: 60px; margin-right: 60px}

#nav { background:white; text-align:center; }

#nav li  { display: none; list-style-type: none; padding-right: 40px; font-size: 14pt; font-weight:normal; }